# Node modules
node_modules/

# Environment variables
.env

# Build outputs
dist
dist-ssr

# Logs
*.log

# IDE / Editor files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
