# Logs
*.log

# Dependencies
node_modules

# Build outputs
dist
dist-ssr

# Environment variables
.env
*.local

# Editor / IDE files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store

# Windows / Visual Studio files
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
